.LoginArea {
    margin-right: 10%;
    margin-left: 10%;
}
  
.ButtonSpacingLogin {
    margin-right: 5%;
    margin-left: 5%;
}
.FormArea{
    margin-right: 10%;
    margin-left: 10%;
}
.hidden{
    display: none;
}
.titleFix{
    font-size: medium;
    text-align: center;
}
